<div class="app-container">
  <div class="app-container__photo">
    <div class="app-container__photo__img-container">
      <img draggable="false" crossOrigin="Anonymous" id="filter" [ngClass]="'filter'" [src]="filters[filterSelected].url" />
    </div>
    <video playsinline controls id="video"></video>
    <div class="app-container__photo__snap-container">
      <button id="snap">Snap</button>
    </div>

  </div>
  <div class="app-container__controls">
    <div (click)="putFilter(i)" *ngFor="let filter of filters; let i = index" class="app-container__controls__button">
      <img [src]="filter.url">
      <p>{{filter.title}}</p>
    </div>
  </div>
</div>
<a id="link"></a>
<div id="picResult"></div>
<canvas id="canvas"></canvas>
