.app-container {

  display: flex;
  width: 100%;
  height: 100vh;

  &__photo {
    background: #fff;
    flex: 3;
  }

  &__controls {
    background: rgb(201, 201, 201);
    float: 3;

    &__button:hover {
      background: rgb(215, 215, 215);
      transition: .2s;

      padding: 10px 20px;

      img {
        width: 90px;
        height: 90px;
        margin-left: -10px;
        margin-right: 10px;
        transition: .2s;

      }
    }


    &__button {
      transition: .2s;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      cursor: pointer;

      img {
        width: 70px;
        height: 70px;
        transition: .2s;
        margin-right: 20px;
        border-radius: 5px;
      }

      p {
        font-size: 25px;
      }

    }

  }
}
