<div class="app-container">
  <div class="app-container__photo">
    <video id="filter" [ngClass]="'filter'" src="./assets/alpha-webm.webm"></video>
    <video id="video"></video>
  </div>
  <div class="app-container__controls">
    <div class="app-container__controls__button">
      <img src="https://image.freepik.com/vector-gratis/divertido-santa-claus-celebrando-navidad_74855-962.jpg">
      <p>Santa Claus</p>
    </div>
    <div class="app-container__controls__button">
      <img src="https://image.freepik.com/vector-gratis/divertido-santa-claus-celebrando-navidad_74855-962.jpg">
      <p>Santa Claus</p>
    </div>
    <div class="app-container__controls__button">
      <img src="https://image.freepik.com/vector-gratis/divertido-santa-claus-celebrando-navidad_74855-962.jpg">
      <p>Santa Claus</p>
    </div>
    <div class="app-container__controls__button">
      <img src="https://image.freepik.com/vector-gratis/divertido-santa-claus-celebrando-navidad_74855-962.jpg">
      <p>Santa Claus</p>
    </div>
  </div>
</div>
<!-- 
<div id="picResult"></div>
<canvas id="canvas"></canvas>
<button id="snap">Snap</button>
<button id="play">Play</button> -->
